/* Add your other styles here */
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

  .light {
    background-color: rgb(235, 242, 245) ;
    color:rgb(9, 9, 31) ; /* Change this to your light text color */
  }
  .dark{
    --tw-bg-opacity: 1;
    background-color: rgb(9, 9, 31);
  }
  